$batson-navy: #082e68;
$batson-coral: #f88379;
$paper-background: #fffdf7;

body {
    background-color: $paper-background;
}

.page-content {
    background-color: white;
    line-height: 1.4;
    width: 50%;
    @media screen and (max-width: 1080px) {
        width: 90%;
    }

    p,
    h1,
    h2 {
        // TODO extend tailwind
        padding: 1rem;
    }

    h1 {
        text-decoration: underline;
        font-weight: bold;
        text-align: center;
        color: $batson-navy;
        font-size: 3.8vw;
    }
}

header {
    //background: linear-gradient(135deg, $batson-navy 50%, $batson-coral 50%);
    background: $batson-coral;
    color: white;
}

#fullscreen-nav {
    @media screen and (max-width: 1080px) {
        display: none;
    }
}

#mobile-nav {
    @media screen and (min-width: 1080px) {
        display: none;
    }
}

#mobile-nav-items {
    border-top: 1px solid $batson-navy;
}
