$batson-navy: #082e68;
$batson-coral: #f88379;
$paper-background: #fffdf7;

$full-screen-width: 1080px;

@mixin full-screen {
    @media screen and (min-width: $full-screen-width) {
        @content;
    }
}

@mixin mobile-screen {
    @media screen and (max-width: $full-screen-width) {
        @content;
    }
}

html,
body {
    background-color: $batson-coral;
}

.page-content {
    @include mobile-screen {
        width: 90%;
    }
}

#fullscreen-nav {
    @include mobile-screen {
        display: none;
    }
    color: $batson-navy;
}

#mobile-nav {
    @include full-screen {
        display: none;
    }

    #mobile-nav-toggle {
        .line {
            content: '';
            width: 35px;
            height: 5px;
            transition: 0.4s;
            background-color: $batson-coral;
        }

        .change {
            &.line1 {
                transform: translate(0, 12px) rotate(-45deg);
            }

            &.line2 {
                opacity: 0;
            }

            &.line3 {
                transform: translate(0, -11px) rotate(45deg);
            }
        }
    }
}

#mobile-nav-items {
    .nav-item-wrapper {
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
    color: $batson-navy;
}

#mobile-nav-wrapper {
    animation: slideIn 0.5s forwards;

    &.hidden-animate {
        animation: slideOut 0.5s forwards;
    }
}

@keyframes slideIn {
    0% {
        transform: translateX(-900px);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes slideOut {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-9000px);
    }
}
