<!-- <header>
    <div id="header-wrapper" class="py-3">
        <div><a id="home-title" href="/">The Batson Wedding</a></div>
        <div>
            <div class="flex flex-row justify-between" id="fullscreen-nav">
                {{ partial "nav-items.html" . }}
            </div>
            <div id="mobile-nav">
                <div id="hamburger">&#9776;</div>
            </div>
        </div>
    </div>
    <div class="flex justify-center text-center">
        <div id="mobile-nav-items" class="hidden w-full">
            {{ partial "nav-items.html" . }}
        </div>
    </div>
</header> -->

<header>
    <div id="header-wrapper" class="py-3">
        <div>
            <h1>The Batson Wedding</h1>
            <h2>August 26th, 2023 - Ottawa Ontario, Canada</h2>
            <h3>485 Days To Go!</h3>
        </div>
        <div id="fullscreen-nav" class="flex justify-center mt-4">
            {{ partial "nav-items.html" . }}
        </div>
    </div>
</header>