<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
{{ if isset .Params "title" }}
<title>{{ .Title }} | {{ site.Title }}</title>
{{ else }}
<title>{{ site.Title }}</title>
{{ end }}
<meta property="og:title" content="{{ site.Title }}" />
{{ $style := resources.Get "sass/main.scss" | resources.ToCSS | resources.Minify }}
<link rel="stylesheet" href="{{ $style.Permalink }}">
{{ $js := resources.Get "ts/app/main.ts" | js.Build }}
<script src="{{ $js.Permalink }}" type="text/javascript" defer></script>
<script src="https://cdn.tailwindcss.com"></script>