<header>
    <div class="py-3 flex justify-around">
        <div><a href="/">The Batson Wedding</a></div>
        <div>
            <div class="flex flex-row justify-between" id="fullscreen-nav">
                {{ range (.Site.GetPage "section" "pages").Pages }}
                <div class="mx-3"><a class="preview-title" href="{{ .Permalink }}">{{ .Title }}</a></div>
                <!-- Range -->
                {{ end }}
            </div>
            <div id="mobile-nav">
                Mobile
            </div>
        </div>
    </div>
</header>