<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
{{ if isset .Params "title" }}
<title>{{ .Title }} | {{ site.Title }}</title>
{{ else }}
<title>{{ site.Title }}</title>
{{ end }}
<meta property="og:title" content="{{ site.Title }}" />

{{ $twStyles := resources.Get "post-css/main.css" }}
{{ if .Site.IsServer }}
<link rel="stylesheet" href="{{ $twStyles.RelPermalink }}" />
{{ else }}
{{ $twStyles := $twStyles | minify | fingerprint | resources.PostProcess }}
<link rel="stylesheet" href="{{ $twStyles.RelPermalink }}" integrity="{{ $twStyles.Data.Integrity }}" />
{{ end }}

{{ $js := resources.Get "ts/app/main.ts" | js.Build }}
<script src="{{ $js.Permalink }}" type="text/javascript" defer></script>

<!-- Google Fonts -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap" rel="stylesheet">