<header>
    <div class="py-3 flex justify-around">
        <div><a href="/">The Batson Wedding</a></div>
        <div>
            <div class="flex flex-row justify-between" id="fullscreen-nav">
                {{ partial "nav-items.html" . }}
            </div>
            <div id="mobile-nav">
                <!-- USING CHECKBOX HACK -->
                <div id="hamburger">&#9776;</div>
            </div>
        </div>
    </div>
    <div class="flex justify-center text-center">
        <div id="mobile-nav-items" class="hidden w-80">
            {{ partial "nav-items.html" . }}
        </div>
    </div>
</header>