{{ define "main" }}

<div class="img-wrapper flex justify-center">
    <img class="w-3/4" src="/img/lauram-1.jpg" alt="lauram" />
</div>
<div class="text-center mt-3 text-xl md:text-3xl">
    <p>
        Welcome to our wedding website! We're looking forward to sharing our special day with you!
        We will continue to post updates to this site as we get closer to the date!
    </p>

    <div class="text-navy text-xl md:text-3xl font-bold mt-6">
        <h2>Save The Date</h2>
        <p>August 26th, 2023</br>
            Adam James Batson &amp; Lauren Blanche Wallace</br>
            Ottawa Ontario, Canada</br></p>
    </div>
</div>
{{ end }}