{{ define "main" }}

    <h1 class="text-center text-navy underline text-4xl md:text-2xl">{{ .Title }}</h1>

    {{ range .Params.questions}}
        <!-- Desktop version -->
        <div class="bg-papery content-section rounded-3xl p-4 text-sm md:text-lg mt-6 hidden md:block">
            <div class="flex justify-between">
                <div class="flex flex-col justify-center w-1/2 border-r-2 border-r-coral px-3">
                    <h2 class="text-navy font-bold text-3xl md:text-xl text-center">{{ .question }}</h2>
                </div>
                <div class="w-1/2 flex flex-col justify-center px-3">{{ .answer }}</div>
            </div>
        
        </div>

        <!-- Mobile Version -->
        <div class="bg-papery content-section rounded-3xl p-4 text-sm md:text-lg mt-6 md:hidden block">
            <div class="flex flex-col justify-around md:flex-row md:justify-between">
                <div class="border-b-2 border-b-coral py-4">
                    <h2 class="text-navy font-bold text-3xl md:text-xl text-center">{{ .question }}</h2>
                </div>
                <div class="text-center md:px-3 py-4 text-sm">{{ .answer }}</div>
            </div>
        </div>
    {{ end }}
{{ end }}